[submodule "src_code/ForwarderDEFullstack"]
	path = src_code/ForwarderDEFullstack
	url = https://github.com/ForwarderDE/Fullstack
[submodule "src_code/Fahad_Poc"]
	path = src_code/Fahad_Poc
	url = https://github.com/ForwarderDE/Fahad_Poc
[submodule "src_code/NikhilForwarder"]
	path = src_code/NikhilForwarder
	url = https://github.com/ForwarderDE/forwarder
[submodule "src_code/FahadForwader"]
	path = src_code/FahadForwader
	url = https://github.com/ForwarderDE/shutup-forwarder
